/* Redmew Specific Overrides of the factorio base styles */

body {
   padding: 10px;

}

#serverControl ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

#serverControl ul li {
   float: left;
}

#serverControl li a {
   width: 100px; 
   margin: 5px;
}

div {
  clear: both;
}

#serverControl {
float: left;
padding-right:25px;
}

#description {
	max-width: 530px;

}
#saveSelectionWrapper {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none;
	margin: 25px;
	margin-left:0px;
	overflow: hidden;
	margin-bottom: -110px;
	float: left;
	clear: right;
}
/* Smartphones */
@media only screen and (max-width: 1168px) {
	#saveSelectionWrapper {
		margin-bottom: 25px !important;
	}
} 

#saveSelection {
	font-size: 100px !important;
	overflow: auto;
	max-height: 375px;
	overflow-y: scroll;
	padding: 0px;
}

#saveSelectionBody {
	font-size: 2vh;
}

td {
  padding-left: 25px;
  padding-right: 25px;
}

th {
	cursor: pointer;
}

.tblRow:hover {
	cursor:pointer;	
	background-color: #db6021;
}

.btn-small {
	margin-bottom: 5px;
}

.active {
	cursor:pointer;	
	background-color: #af4d1b !important;
}


.tblRow:active {
	cursor:pointer;	
	background-color: #af4d1b;
}



.text_box {
   border: 1px solid #999;
   padding: 10px;
   overflow-x: scroll;
   background: #000;
}

.lines {
   display: inline;
   padding: 2px;
}

#help-StartTMux { display: none;}
#serverControl ul li { display: none; }
xmp {
   font-family: Courier, monospace;
   border: 1px solid #fff;
   padding: 10px;
}

dl {
   width: 550px;
   overflow: hidden;
   padding: 0;
   margin: 0;
}

dt {
   clear: both;
   float: left;
   width: 25%;
   padding: 0 1em 0 0;
   margin: 0;
   text-align: right;
}
dd {
   float: left;
   width: 70%;
   padding: 0;
   margin: 0;
}
* .wait {
   background: transparent !important;
   color: #999 !important;
}

#command_form {
	overflow:hidden;
}
#command  {
   clear: both;
   width: 85%;
   background: #000;
   color: #999;
   line-height: 1.5em;
   height: auto;
   padding: 4px;
   margin: 2px;
}

input[type=submit] {
   clear: both;
   background: #000;
   color: #999;
   margin: 0;
}
#upload_form {
    display:none;
}
